# ===========================
# Application
# ===========================
HOST=0.0.0.0
PORT=5008
DEBUG=True
ENV=development

# ===========================
# FRONTEND URL
# ===========================
FRONTEND_BASE_URL="192.168.0.104"
FRONTEND_PORT="3000"

# ===========================
# RTSP Server
# ===========================
RTSP_PORT=8554

# ===========================
# Database
# ===========================
DATABASE_URL=sqlite+aiosqlite:///rtsp_manager.db

# ===========================
# Storage
# ===========================
UPLOAD_FOLDER=uploads
LOG_FOLDER=logs

# ===========================
# Logging
# ===========================
LOG_LEVEL=INFO

# ===========================
# API
# ===========================
API_PREFIX=/api/v1